<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>

<body>
    <div class="container" style="font-family: 'Times New Roman', Times, serif;">
        <div class="para" style="margin: 10px; padding: 10px; width: 70%;">
            <h3>Fur effect</h3>
            <p>The aim of this project is to load a 3D model of an object and render realistic looking fur to its
                surface. You are required to provide the results for rendering fur on two objects. There will be a few
                object models available on th VLE page. You can choose one or two of these example objects or any object
                of your choice. The color and texture of the fur is up to you.</p>
            <br>
            <span style="font-weight: bold;">Control keys:</span> <span>&nbsp; &nbsp; &nbsp;The following keys should be
                implemmented to
                control the rendering:</span>
            <ul>
                <li>'l': increase the fur length</li><br>
                <li>'k': decrease the fur length</li><br>
                <li>'m': increase fur density</li><br>
                <li>'n': decrease fur density</li><br>
                <li>Arrow keys: rotations</li><br>
                <li>Mouse: translations</li><br>
                <li>'b': moves the fur in one random directionn (This one is for fun)</li>
            </ul>
            <br>
            <span style="font-weight: bold;">Submission package: </span> <span>&nbsp; &nbsp; &nbsp; You are required to
                submit the following
                items:</span>

            <ul>
                <li>Code</li><br>
                <li>Python requirements.txt</li><br>
                <li>You should also provide a demo of your code by recording your screen while running the code and
                    generating the results.</li><br>
            </ul>
            <br>
            <span style="font-weight: bold;">Criteria:</span> <span>&nbsp; &nbsp; &nbsp; When assessing this project, we
                will be looking for
                the followimg:</span>

            <ul>
                <li>The code should generate the required scenes/objects with no artefact or bug.</li><br>
                <li>The control keys function properly.</li><br>
                <li>The code should be well documented, explaining well your design and reasoning.</li><br>
                <li>The code should be reasonably efficient and concise.</li><br>
                <li>The video should demonstrate how your code generates the results as well as testing the control
                    keys.</li>
            </ul>
        </div>
    </div>
</body>

</html>